.body{
    display: flex;
    margin: 0;
    height: 100vh;
     justify-content: center;
     align-items: center;
     background: #27ae60;
     font-family: arial;
}

.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    background: #fff;
    width: 400px;
    padding: 30px;
    border-radius: 13px;
    box-shadow:  0 8px 30px;
  
}
h2{
    text-align: center;
    margin-bottom: 21px;
}
input{
    width: 95%;
    padding: 10px;
    margin-bottom: 11px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 7px;
    background: #2ecc71;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background: blue;
}
.switch{
    text-align: center;
    margin-top: 15px;
}
.switch label{
    color: #2ecc71;
    font-weight: bold;
      cursor: pointer;
}

#togo{
    display: none;
}
.register{
    display: none;
}
#togo:checked ~ .login{
    display : none;
}
#togo:checked ~ .register{
    display: block;
}
.main{
    background: #27ae60;
    border-radius: 9px;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.main ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}
.main ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    cursor:pointer; 
}
.sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}
.section-card{
    background: white;
    width: 280px;
    border-radius: 12px;
    box-shadow:  0 10px 25px;
}
.section-card:hover{
   
    height: 180px;
    object-fit: cover;
}
.section-card h3{
    margin: 15px ;
    color: #27ae60;
}
.section-card p{
    margin: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
}
.info{
    color: #27ae60;
    margin-bottom: 20px;

}
.info p{
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}
.welcome h1{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.welcome p{
    text-align: center;
    font-size: 30px;
    font-weight:bold;
}
.card textarea{
    width: 100%;
    height: 80px;
    border-radius: 12px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
